<!DOCTYPE HTML>
<html language="en">
  <head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}

    {% include _stylesheets.html %}

    {% include _meta.html %}

    {% include _html5shim.html %}    
  </head>
  <body>

    {% include _nav.html %}
    {% include _splash.html %}

       <!-- Page Content -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">

              {{ content }}

            </div>

        </div>

    </div>
    <!-- /.container -->
 
    {% include _footer.html %}

    {% include _scripts.html %}
    {% include _ga.html %}
  </body>
</html>
